<%- include('partials/header') %>
<%- include('partials/content') %>
<p>I am a Georgian College Computer Programmer COOP student looking to break into the world of development.</p>
<%- include('partials/footer') %>
