<%- include('partials/header') %>
<%- include('partials/content') %>
<p>You can view many of my ongoing and past projects on my gitHub at https://www.github.com/david-mcniven</p>
<%- include('partials/footer') %>
